.header {
    text-align: center;
    margin-top: 3rem;
    img{
        height: 50%;
        
    }
    h1 {
        color:crimson;
        margin-bottom: 1rem;
        font-size: 3rem;
        font-family: 'Courier New', Courier, monospace;
    }
}